<p id="notice"><%= notice %></p>

<h1><%= I18n.t("websites") %></h1>

<table class="table">
  <thead>
    <tr>
      <th> <%= I18n.t("website.url")%> </th>
      <th> <%= I18n.t("website.bookmarks_count")%> </th>
      <th> <%= I18n.t("actions") %></th>
    </tr>
  </thead>

  <tbody>
    <% @websites.each do |website| %>
      <tr>
        <td><%= website.url %> </td>
        <td><%= website.bookmarks.count %> </td>
        <td>
          <%= link_to t("link.show_bookmarks"), website, :class => "btn btn-primary" %>
          <%= link_to t("destroy"), website, method: :delete, class: "btn btn-danger", data: { confirm: I18n.t("website_delete_confirmation", number: website.bookmarks.count) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
